.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
/* .bg-dark{
  background-color:black
} */


.navbar{
  background-color: black !important;
}

.navbar a{
  color: white !important;
}
